.effect:after{
    display: none;
    position: absolute;
    content: "\2623";
    font-size: 80px;
}

.effect:hover{
    position: relative;
    opacity: 0.4;
    background-color: black;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.effect:hover::after{
    display: flex !important;  
}
.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botao1, .botao2, .botao3 {
    background-color: white;
    border-color: black;
    color: black;
}

.botao1:hover, .botao2:hover, .botao3:hover{
    background-color: rgb(179, 179, 179);
    border-color: rgb(202, 200, 200);
}


        /* Button 1 */
 
.changer1 > header{
    background-color: rgb(192, 226, 38);
}
.changer1 > footer{
    background-color: rgb(192, 226, 38) !important;
}

.changer1 > div > section:nth-child(1) { order: 1; }
.changer1 > div > section:nth-child(3) { order: 3; }

        /* Button 2 */

.changer2 > header{
    background-color: rgb(105, 88, 55);
}
.changer2 > footer{
    background-color: rgb(105, 88, 55) !important;
}

.changer2 > div > section:nth-child(1) { order: 3; }
.changer2 > div > section:nth-child(2) { order: 2; }

        /* Button 3 (Original) */

.changer3 {
    background-color: rgb(19, 45, 68);
}

